<?php
$CONF['database_type'] = 'mysqli';
$CONF['database_user'] = '{{ db_user_for_postfixadmin }}';
$CONF['database_password'] = '{{ db_password_for_postfixadmin }}';
$CONF['database_name'] = '{{ db_name_for_postfixadmin }}';

$CONF['configured'] = true;
?>
